extends layout/base.pug

block title
    title Them tien nghi

block header
    link(rel='stylesheet' href='/assets_admin/css/themTienNghi.css')

block content
    // Header
    .header.bg-primary.pb-6
        .container-fluid
            .header-body
                .row.align-items-center.py-4
                    .col-lg-6.col-7
                        h6.h2.text-white.d-inline-block.mb-0 Ti&#x1EC7;n nghi
                        nav.d-none.d-md-inline-block.ml-md-4(aria-label='breadcrumb')
                            ol.breadcrumb.breadcrumb-links.breadcrumb-dark
                                li.breadcrumb-item
                                    a(href='#')
                                        i.fas.fa-home
                                li.breadcrumb-item(aria-current='page') Ti&#x1EC7;n nghi
                                li.breadcrumb-item.active(aria-current='page') Th&ecirc;m m&#x1EDB;i
                    
    // Page content
    .container-fluid.mt--6
        .row.justify-content-center
            .col-12
                .card
                    .card-header.bg-transparent
                        h3.mb-0 Th&ecirc;m m&#x1EDB;i ti&#x1EC7;n nghi
                    .card-body
                        .row.icon-examples.customer-reply
                            .col-md-11.col-md-6.mx-auto
                                .form-group
                                    label(for='exampleInputEmail1') T&ecirc;n ti&#x1EC7;n nghi
                                    input#exampleInputEmail1.form-control(type='text' aria-describedby='emailHelp')
                            .col-md-11.col-md-6.mx-auto
                                .form-group
                                    label(for='exampleInputEmail1')
                                        | Ch&#x1ECD;n Icon
                                    .icons.row
                                        .icon-item.col-1
                                            i.fa.fa-apple
                                        .icon-item.col-1
                                            i.fa.fa-apple
                                        .icon-item.col-1
                                            i.fa.fa-apple
                                        .icon-item.col-1
                                            i.fa.fa-apple
                                        .icon-item.col-1
                                            i.fa.fa-apple
                                        .icon-item.col-1.active
                                            i.fa.fa-apple
                                        .icon-item.col-1
                                            i.fa.fa-apple
                                        .icon-item.col-1
                                            i.fa.fa-apple
                                        .icon-item.col-1
                                            i.fa.fa-apple
                                        .icon-item.col-1
                                            i.fa.fa-apple
                                        .icon-item.col-1
                                            i.fa.fa-apple
                                        .icon-item.col-1
                                            i.fa.fa-apple
                                        .icon-item.col-1
                                            i.fa.fa-apple
                                        .icon-item.col-1
                                            i.fa.fa-apple
                                        .icon-item.col-1
                                            i.fa.fa-apple
                                        .icon-item.col-1
                                            i.fa.fa-apple
                                        .icon-item.col-1
                                            i.fa.fa-apple
                                        .icon-item.col-1
                                            i.fa.fa-apple
                                        .icon-item.col-1
                                            i.fa.fa-apple
                                        .icon-item.col-1
                                            i.fa.fa-apple
                                        .icon-item.col-1
                                            i.fa.fa-apple
                                        .icon-item.col-1
                                            i.fa.fa-apple
                                        .icon-item.col-1
                                            i.fa.fa-apple
                                        .icon-item.col-1
                                            i.fa.fa-apple
                                        .icon-item.col-1
                                            i.fa.fa-apple
                                        .icon-item.col-1
                                            i.fa.fa-apple
                                        .icon-item.col-1
                                            i.fa.fa-apple
                                        .icon-item.col-1
                                            i.fa.fa-apple
                                        .icon-item.col-1
                                            i.fa.fa-apple
                                        .icon-item.col-1
                                            i.fa.fa-apple
                                        .icon-item.col-1
                                            i.fa.fa-apple
                                        .icon-item.col-1
                                            i.fa.fa-apple
                                        .icon-item.col-1
                                            i.fa.fa-apple
                                        .icon-item.col-1
                                            i.fa.fa-apple
                                        .icon-item.col-1
                                            i.fa.fa-apple
                                        .icon-item.col-1
                                            i.fa.fa-apple
                                        .icon-item.col-1
                                            i.fa.fa-apple
                                        .icon-item.col-1
                                            i.fa.fa-apple
                                        .icon-item.col-1
                                            i.fa.fa-apple
                                        .icon-item.col-1
                                            i.fa.fa-apple
                                        .icon-item.col-1
                                            i.fa.fa-apple
                                        .icon-item.col-1
                                            i.fa.fa-apple
                                        .icon-item.col-1
                                            i.fa.fa-apple
                                        .icon-item.col-1
                                            i.fa.fa-apple
                                        .icon-item.col-1
                                            i.fa.fa-apple
                                        .icon-item.col-1
                                            i.fa.fa-apple
                                        .icon-item.col-1
                                            i.fa.fa-apple
                                        .icon-item.col-1
                                            i.fa.fa-apple
                                        .icon-item.col-1
                                            i.fa.fa-apple
                                        .icon-item.col-1
                                            i.fa.fa-apple
                                        .icon-item.col-1
                                            i.fa.fa-apple
                                        .icon-item.col-1
                                            i.fa.fa-apple
                                        .icon-item.col-1
                                            i.fa.fa-apple
                                        .icon-item.col-1
                                            i.fa.fa-apple
                                        .icon-item.col-1
                                            i.fa.fa-apple
                                        .icon-item.col-1
                                            i.fa.fa-apple
                                        .icon-item.col-1
                                            i.fa.fa-apple
                                        .icon-item.col-1
                                            i.fa.fa-apple
                                        .icon-item.col-1
                                            i.fa.fa-apple
                                        .icon-item.col-1
                                            i.fa.fa-apple
                                        .icon-item.col-1
                                            i.fa.fa-apple
                                        .icon-item.col-1
                                            i.fa.fa-apple
                                        .icon-item.col-1
                                            i.fa.fa-apple
                            .col-md-11.col-md-6.mx-auto
                                button.btn.btn-success
                                    i.fa.fa-plus(aria-hidden='true')
                                    |                     Th&ecirc;m m&#x1EDB;i
        
        // Footer
        include layout/footer.pug
        
block script 