extends layout/base.pug

block title
    title Quan ly tien nghi

block header
    link(rel='stylesheet' href='/assets_admin/css/tienNghi.css')

block content
    // Header
    .header.bg-primary.pb-6
        .container-fluid
            .header-body
                .row.align-items-center.py-4
                    .col-lg-6.col-7
                        h6.h2.text-white.d-inline-block.mb-0 Ti&#x1EC7;n nghi
                        nav.d-none.d-md-inline-block.ml-md-4(aria-label='breadcrumb')
                            ol.breadcrumb.breadcrumb-links.breadcrumb-dark
                                li.breadcrumb-item
                                    a(href='#')
                                        i.fas.fa-home
                                li.breadcrumb-item.active(aria-current='page') Ti&#x1EC7;n nghi
                    
    // Page content
    .container-fluid.mt--6
        .row.justify-content-center
            .col
                .card
                    .card-header.bg-transparent
                        h3.mb-0.row
                            .col-sm-6
                                | Tiện nghi khách sạn
                            .col-sm-6.text-right
                                a(href="./addConvenient") 
                                    button.btn.btn-secondary Thêm tiện nghi mới
                    .card-body
                        .row.icon-examples
                            .col-lg-3.col-md-6
                                button.btn-icon-clipboard.convenient(type='button')
                                    div
                                        i.ni.ni-active-40
                                        span Wifi
                                        a.updateBtn(title='Cập nhật' href='./convenient/kdjskns4d5')
                                            i.fa.fa-pencil(aria-hidden='true')
                                        span.deleteBtn(title='Xóa')
                                            i.fa.fa-trash(aria-hidden='true')
                            .col-lg-3.col-md-6
                                button.btn-icon-clipboard.convenient(type='button')
                                    div
                                        i.ni.ni-active-40
                                        span Wifi
                                        span.updateBtn(title='Cập nhật')
                                            i.fa.fa-pencil(aria-hidden='true')
                                        span.deleteBtn(title='Xóa')
                                            i.fa.fa-trash(aria-hidden='true')
                            .col-lg-3.col-md-6
                                button.btn-icon-clipboard.convenient(type='button')
                                    div
                                        i.ni.ni-active-40
                                        span Wifi
                                        span.updateBtn(title='Cập nhật')
                                            i.fa.fa-pencil(aria-hidden='true')
                                        span.deleteBtn(title='Xóa')
                                            i.fa.fa-trash(aria-hidden='true')
                            .col-lg-3.col-md-6
                                button.btn-icon-clipboard.convenient(type='button')
                                    div
                                        i.ni.ni-active-40
                                        span Wifi
                                        span.updateBtn(title='Cập nhật')
                                            i.fa.fa-pencil(aria-hidden='true')
                                        span.deleteBtn(title='Xóa')
                                            i.fa.fa-trash(aria-hidden='true')
                            .col-lg-3.col-md-6
                                button.btn-icon-clipboard.convenient(type='button')
                                    div
                                        i.ni.ni-active-40
                                        span Wifi
                                        span.updateBtn(title='Cập nhật')
                                            i.fa.fa-pencil(aria-hidden='true')
                                        span.deleteBtn(title='Xóa')
                                            i.fa.fa-trash(aria-hidden='true')
                            .col-lg-3.col-md-6
                                button.btn-icon-clipboard.convenient(type='button')
                                    div
                                        i.ni.ni-active-40
                                        span Wifi
                                        span.updateBtn(title='Cập nhật')
                                            i.fa.fa-pencil(aria-hidden='true')
                                        span.deleteBtn(title='Xóa')
                                            i.fa.fa-trash(aria-hidden='true')
                            .col-lg-3.col-md-6
                                button.btn-icon-clipboard.convenient(type='button')
                                    div
                                        i.ni.ni-active-40
                                        span Wifi
                                        span.updateBtn(title='Cập nhật')
                                            i.fa.fa-pencil(aria-hidden='true')
                                        span.deleteBtn(title='Xóa')
                                            i.fa.fa-trash(aria-hidden='true')
                            .col-lg-3.col-md-6
                                button.btn-icon-clipboard.convenient(type='button')
                                    div
                                        i.ni.ni-active-40
                                        span Wifi
                                        span.updateBtn(title='Cập nhật')
                                            i.fa.fa-pencil(aria-hidden='true')
                                        span.deleteBtn(title='Xóa')
                                            i.fa.fa-trash(aria-hidden='true')
                            .col-lg-3.col-md-6
                                button.btn-icon-clipboard.convenient(type='button')
                                    div
                                        i.ni.ni-active-40
                                        span Wifi
                                        span.updateBtn(title='Cập nhật')
                                            i.fa.fa-pencil(aria-hidden='true')
                                        span.deleteBtn(title='Xóa')
                                            i.fa.fa-trash(aria-hidden='true')
        
        // Footer
        include layout/footer.pug
        
block script 