extends layout/base.pug

block title
    title Cấp quyền quản lý khách sạn

block header
    link(rel='stylesheet' href='/assets_admin/css/capQuyenQuanLyKS.css')

block content
    // Header
    .header.bg-primary.pb-6
        .container-fluid
            .header-body
                .row.align-items-center.py-4
                    .col-lg-11.col-7
                        h6.h2.text-white.d-inline-block.mb-0 Quản lý khách sạn
                        nav.d-none.d-md-inline-block.ml-md-4(aria-label='breadcrumb')
                            ol.breadcrumb.breadcrumb-links.breadcrumb-dark
                                li.breadcrumb-item
                                    a(href='#')
                                        i.fas.fa-home
                                li.breadcrumb-item(aria-current='page') Tài khoản
                                li.breadcrumb-item.active(aria-current='page') Cấp quyền quản lý khách sạn
                    
    // Page content
    .container-fluid.mt--6
        .row.justify-content-center
            .col-12
                .card
                    .card-header.bg-transparent
                        h3.mb-0 Chọn khách sạn
                        input(type="hidden", id="token" value=token)
                    .card-body
                        .row.icon-examples
                            .input-group.col-6.ml-3.mb-4
                                input.form-control(type='text' id='hotelKey' placeholder='Tìm theo ID hoặc tên khách sạn')
                                .input-group-append
                                    button.btn.btn-secondary(style='height: 45px;' id='findHotelBtn')
                                        i.fa.fa-filter(aria-hidden='true')
                            .col-md-12.col-md-6.mx-auto.hotelList
                                input(type="hidden", id="hotelChosen")
                                .row#containerHotels
                           
            .col-12
                .card
                    .card-header.bg-transparent
                        h3.mb-0.row
                            .col-6 Chọn quản lý khách sạn
                    .card-body
                        .row.icon-examples
                            .input-group.col-6.ml-5.mb-4
                                input.form-control(type='text' id='managerKey' placeholder='Tìm theo ID hoặc tên quản lý')
                                .input-group-append
                                    button.btn.btn-secondary(style='height: 45px;' id='findManagerBtn')
                                        i.fa.fa-filter(aria-hidden='true')
                            .col-md-11.col-md-6.mx-auto.hotelList
                                input(type="hidden", id="managerChosen")
                                .row#containerManager
                            
                            button.btn.btn-warning.ml-6.mt-3#grantManagerBtn
                                | Cấp quyền quản lý khách sạn
        
        // Footer
        include layout/footer.pug

block script 
    script(src="/assets_admin/js/grantManager.js")