extends layout/base.pug

block title
    title Quản lý vai trò

block header
    link(rel='stylesheet' href='/assets_admin/css/vaiTro.css')

block content
    // Header
    .header.bg-primary.pb-6
        .container-fluid
            .header-body
                .row.align-items-center.py-4
                    .col-lg-6.col-7
                        h6.h2.text-white.d-inline-block.mb-0 Vai tr&ograve;
                        nav.d-none.d-md-inline-block.ml-md-4(aria-label='breadcrumb')
                            ol.breadcrumb.breadcrumb-links.breadcrumb-dark
                                li.breadcrumb-item
                                    a(href='#')
                                        i.fas.fa-home
                                li.breadcrumb-item.active(aria-current='page') Vai tr&ograve;
                    
    // Page content
    .container-fluid.mt--6
        .row.justify-content-center
            .col
                .card
                    .card-header.bg-transparent
                        h3.mb-0.row
                            .col-sm-6
                                | Vai trò
                            .col-sm-6.text-right
                                a(href="./addRole") 
                                    button.btn.btn-secondary Thêm vai trò
                    .card-body
                        .row.icon-examples
                            input(type="hidden", id="token", value=token)
                            each role in roles
                                .col-lg-4.col-md-6(id='role'+ role._id)
                                    button.btn-icon-clipboard.role(type='button' class=role.disabled?'role-disabled':'')
                                        div
                                            i.fa.fa-users(aria-hidden='true')
                                            span #{role.ten}
                                            a.permissionBtn(href='./grantPermission/'+role._id title='Cấp quyền')
                                                i.fa.fa-hand-paper-o(aria-hidden='true')
                                            a.updateBtn(href='./role/'+role._id title='Cập nhật')
                                                i.fa.fa-pencil(aria-hidden='true')
                                            span.deleteBtn(title='Xóa' onclick='DeleteRole("'+ role._id +'")')
                                                i.fa.fa-trash(aria-hidden='true')
                            
        // Footer
        include layout/footer.pug

block script 
    script(src="/assets_admin/js/role.js")