extends layout/base.pug

block title
    title Thống kê

block header
    link(rel='stylesheet' href='/assets_admin/css/thongKe.css')

block content  
    // Header
    .header.bg-primary.pb-6
        .container-fluid
            .header-body
                .row.align-items-center.py-4
                    .col-lg-6.col-7
                        h6.h2.text-white.d-inline-block.mb-0 Th&#x1ED1;ng k&ecirc;
                        nav.d-none.d-md-inline-block.ml-md-4(aria-label='breadcrumb')
                            ol.breadcrumb.breadcrumb-links.breadcrumb-dark
                                li.breadcrumb-item
                                    a(href='#')
                                        i.fas.fa-home
                                li.breadcrumb-item.active(aria-current='page') Th&#x1ED1;ng k&ecirc;
                    
    // Page content
    .container-fluid.mt--6
        .row.justify-content-center
            .col-12
                .card
                    .card-header.bg-transparent
                        h3.mb-0 Thống kê
                    .card-body
                        .row.icon-examples
                            .col-4.ml-3.mb-4
                                .input-group
                                    label(for='' style='margin-top: 10px;') Từ ngày
                                    .input-group-append(style='margin-left: 20px;')
                                        input.form-control(type='date' id='fromDate')
                                .input-group(style='margin-top: 14px;')
                                    label(for='' style='margin-top: 10px;') Đến ngày
                                    .input-group-append(style='margin-left: 10px;')
                                        input.form-control(type='date' id='toDate')
                            .input-group.col-6
                                input.form-control(type='text' id='contentKey' placeholder='Thống kê theo tên hoặc địa chỉ khách sạn')
                                .input-group-append
                                    button.btn.btn-secondary(style='height: 45px;' onclick='Statistic()')
                                        i.fa.fa-filter(aria-hidden='true')
                            .col-7.result
                                p
                                    span.title
                                        i.fa.fa-money(aria-hidden='true')
                                        | Tổng doanh thu:
                                    span.mr-1#priceTotal 0
                                    | VND
                                p
                                    span.title
                                        i.fa.fa-file-text-o(aria-hidden='true')
                                        | Tổng số hóa đơn đặt phòng:
                                    span.mr-1#billTotal 0
                                    | hóa đơn
                            .col-md-12.col-md-6.mx-auto.hotelList
                                .row#statisticContent
                                    
        // Footer
        include layout/footer.pug

block script
    script(src="/assets_admin/js/statistic.js")
    script.
        document.getElementById('statisticNav').classList.add('active');