doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title LOGIN
    body 
        form
            p
                | username 
                input#uid(type="text", name="uid")
            p
                | password 
                input#pass(type="password", name="pass")
            input(type="button", id="loginBtn", value="Login")

        script(src='https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js')
        script.
            document.getElementById('loginBtn').onclick = function() {
                var uid = document.getElementById('uid').value;
                var pass = document.getElementById('pass').value;
                axios({
                    method: 'POST',
                    url: 'http://localhost:8000/api/postLogin',
                    data: {
                        uid: uid,
                        pass: pass
                    }
                })
                .then(function(res) {
                    console.log(res);
                    console.log(res.data.access);
                })
                .catch(function(err) {
                    console.log(err);
                });
            }