.font-system-ui {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.billList .bill {
    background-color: #f8f8f8;
    margin-bottom: 11px;
    border-radius: 4px;
    transition: 0.3s;
}

.billList .bill:hover {
    background-color: #f1f1f1;
    box-shadow: 2px 2px 4px 3px rgb(219, 219, 219);
}

.billList .bill p {
    margin: 16px 0px;
}

.billList .bill .title {
    font-weight: bolder;
}

.billList .bill .totalPrice {
    font-weight: bolder;
    color: #fa3333;
    font-size: 17px;
}

.billList .bill .func {
    font-size: 20px;
}

.billList .bill .func:hover {
    font-size: 21px;
    color: black;
    cursor: pointer;
}