.product__details__text .product__details__rating .score {
    font-size: 16px;
    font-weight: normal;
    border-radius: 60px;
    padding: 3px 13px;
    display: inline-block;
    background-color: yellowgreen;
    color: white;
}

.font-system-ui {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.product__details__text ul {
    border-top-width: 0px;
    margin: auto auto 40px auto;
    padding: 0px 0px 28px 0px;
    border-bottom: 1px solid #ebebeb;
}

.product__details__text ul li {
    margin-bottom: 18px;
}

.product__details__text ul li .share a {
    font-size: 19px;
}

.product__details__text ul li .share a:hover {
    color: greenyellow;
}

.product__details__tab .nav-tabs:before, .nav-tabs:after {
    width: 293px;
}

.product__details__tab .nav-tabs:after {
    width: 293px;
}

.convenients {
    display: inline-block;
    padding: 21px 30px;
    font-size: 19px;
    border-radius: 2px;
    margin: 10px 27px;
}

.convenients i {
    margin-right: 9px;
    font-size: 27px;
}

.convenients:hover {
    background-color: rgb(246 246 246);
}

.convenients:hover i {
    color: greenyellow;
}

/* Image of Hotel */
.product__details__pic .hotelImages {
    height: 117px;
    overflow-x: scroll;
    overflow-y: hidden;
}

.product__details__pic .hotelImages .containHotelImages {
    width: 1000px;
}

.product__details__pic .hotelImages .containHotelImages img {
    width: 100px;
    height: 100px;
    cursor: pointer;
    margin-right: 10px;
}

/* Image Slider */
#imageListSlider {
    display: none;
    background: rgba(0, 0, 0, 0.85);
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1;
}

#imageListSlider .closeSlider {
    color: white;
    position: absolute;
    top: 2%;
    right: 4%;
    font-size: 33px;
    cursor: pointer;
}

#imageListSlider #turnLeft {
    color: white;
    position: absolute;
    top: 40%;
    left: 11%;
    font-size: 33px;
    cursor: pointer;
}

#imageListSlider #turnRight {
    color: white;
    position: absolute;
    top: 40%;
    right: 11%;
    font-size: 33px;
    cursor: pointer;
}

#imageFrame {
    position: absolute;
    top: 1%;
    left: 0px;
    height: 78%;
    width: 100%;
    text-align: center;
}

#imageFrame img {
    height: 485px;
    max-width: 800px;
}

#imageFrame iframe {
    height: 427px;
    width: 610px;
}

.images {
    position: absolute;
    left: 20%;
    bottom: 1%;
    width: 60%;
    height: 117px;
    overflow-x: scroll;
    overflow-y: hidden;
}

.images .containImages {
    width: 1000px;
}

.images .containImages img {
    width: 100px;
    height: 100px;
    cursor: pointer;
}

.images .containImages .active {
    border: 4px solid #45fffc;
}

/* Room Type */
.roomType {
    height: 161px;
    width: 100%;
    background-color: rgb(243, 243, 243);
    padding: 10px 0px 10px 10px;
    margin-bottom: 40px;
}

.roomType ul {
    list-style-type: none;
}

.roomType ul li {
    line-height: 37px;
    font-size: 18px;
}

.roomType ul li .price {
    color: red;
    font-weight: bolder;
    font-size: 20px;
}

.roomType ul li b {
    width: 130px;
    display: inline-block;
}

.roomType .roomImageFrame{
    height: 151px;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
}

.roomType .roomImageFrame .roomImages {
    width: 1000px;
}

.roomType .roomImageFrame .roomImages img {
    height: 135px;
    width: 175px;
    margin-right: 10px;
}

/* REVIEW */
.review {
    display: block;
    width: 100%;
    float: left;
    margin-bottom: 40px;
    border-bottom: 2px solid #d6d6d6;
    padding-bottom: 24px;
}

.review .desc {
    float: right;
    width: calc(100% - 100px);
}

.review .desc h4 .review-name {
    width: 49%; 
    display: inline-block;
}

.review .desc h4 .review-time {
    width: 49%; 
    display: inline-block; 
    font-style: italic; 
    font-size: 15px; 
    color:gray;
}

.review .desc .star {
    margin-bottom: 13px;
}

.review .desc .star span {
    font-size: 15px;
    border-radius: 60px;
    padding: 2px 13px;
    display: inline-block;
    background-color: yellowgreen;
    color: white;
    margin-top: 4px;
}

.review .desc div .good {
    color: chartreuse;
    font-family: system-ui;
    font-size: 17px;
}

.review .desc div .bad {
    color: red;
    font-family: system-ui;
    font-size: 17px;
}

.review-reply {
    display: block;
    width: 100%;
    float: left;
}

.review-reply .manager {
    background-color: rgb(208, 235, 255);
    padding: 8px 15px;
}

.review-reply .manager .content {
    margin-bottom: 6px;
}

.review-reply .manager h4 {
    margin-bottom: 10px;
}

.review-reply .manager h4 .reply-title {
    display: inline-block;
    width: 65%;
}

.review-reply .manager h4 .reply-time {
    display: inline-block;
    width: 34%;
    font-size: 16px;
    text-align: right;
    font-style: italic;
}

.review-reply .manager h4 .text-left i{
    font-size: 32px;
    margin-right: 4px;
}

.rating-wrap .star {
    margin-bottom: 13px;
}

.rating-wrap .star .score{
    font-size: 15px;
    border-radius: 60px;
    padding: 2px 13px;
    display: inline-block;
    background-color: yellowgreen;
    color: white;
    margin-top: 4px;
    margin-right: 7px;
}

/* Custom Modal writes review */
.custom-modal .title {
    font-size: 19px;
    font-weight: bold;
}

.custom-modal .title i {
    font-size: 22px;
    margin-right: 5px;
}

.custom-modal .score {
    color: orange;
}

.custom-modal .good {
    color: forestgreen;
}

.custom-modal .bad {
    color: red;
}

/* Related hotel */
.hotelRelated {
    padding-top: 0px;
}

.hotelRelated .nav-tabs:before, .nav-tabs:after {
    width: 378px;
}

.hotelRelated .nav-tabs:after {
    width: 378px;
}

.hotel-item {
    background: #f4f4f4;
    padding: 3px;
    border-radius: 2px;
    transition: 0.3s;
    margin-bottom: 34px;
}

.hotel-item:hover {
    box-shadow: 2px 3px 4px 3px greenyellow;
}

.latest-product__item__text span {
    display: inline;
}

.latest-product__item__text p {
	border-top: 1px solid rgb(230, 230, 230);
	color: black;
    padding-top: 9px;
    margin-bottom: 12px;
}

.latest-product__item__text .hotelName {
    font-weight: bold;
    margin-bottom: 8px;
}

.latest-product__item__text .score {
    font-size: 14px;
    font-weight: normal;
    border-radius: 35px;
    padding: 0px 9px;
    display: inline-block;
    background-color: yellowgreen;
    color: white;
}

.latest-product__item__text .level {
    font-weight: bold;
    margin-left: 6px;
}

.latest-product__item__pic img {
    height: 170px;
    width: 170px;
}