extends layout/base.pug

block title 
    <title>Hóa đơn đặt phòng</title>

block header 
    <link rel="stylesheet" href="css/mycss/checkout.css">

block content
    // Breadcrumb Section Begin
    section.breadcrumb-section.set-bg(data-setbg='https://vcdn1-dulich.vnecdn.net/2019/11/21/2-1574339443.jpg?w=1200&h=0&q=100&dpr=1&fit=crop&s=BzU6f4wgVBm3R12CpyttVA', style='margin-top:22px; margin-bottom:-17px;')
        .container
            .row
                .col-lg-12.text-center
                    .breadcrumb__text
                        h2 Checkout
                        .breadcrumb__option
                            a(href='./index.html') Home
                            span Checkout
    // Breadcrumb Section End

    // Checkout Section Begin
    section.checkout.spad
        .container
            .checkout__form
                h4(style='font-family: system-ui;') Chi ti&#x1EBF;t h&oacute;a &dstrok;&#x1A1;n
                form(action='#')
                    .row
                        .col-lg-7.col-md-6
                            .form-group
                                label(for='hoTen') H&#x1ECD; t&ecirc;n
                                input#hoTen.form-control(type='text' readonly='' name='hoTen' value='Nguyễn Tấn Thịnh')
                            .form-group
                                label(for='email') Email
                                input#email.form-control(type='eamil' readonly='' name='email' value='thinh@gmail.com')
                            .form-group
                                label(for='sdt') S&#x1ED1; &dstrok;i&#x1EC7;n tho&#x1EA1;i
                                input#sdt.form-control(type='text' readonly='' name='sdt' value='0325698745')
                            .form-group
                                label(for='sdt') Ng&agrave;y nh&#x1EAD;n ph&ograve;ng
                                br
                                select(name='' id='')
                                    option(value='') -- Ch&#x1ECD;n ng&agrave;y --
                                    option(value='') H&ocirc;m nay 23/2/2021
                                    option(value='') 24/2/2021
                                    option(value='') 25/2/2021
                                    option(value='') 26/2/2021

                        .col-lg-5.col-md-6
                            .checkout__order
                                h4(style='font-family: system-ui;') &Dstrok;&#x1A1;n gi&aacute; c&#x1EE7;a b&#x1EA1;n
                                .checkout__order__products
                                    | Gi&aacute; &dstrok;&#x1EB7;t ph&ograve;ng 
                                    span 1.000.000 &Dstrok;&#x1ED3;ng
                                p
                                    | Ph&iacute; &dstrok;&#x1EB7;t ph&ograve;ng (%) 
                                    span 10%
                                p
                                    | Ph&iacute; &dstrok;&#x1EB7;t ph&ograve;ng (&Dstrok;&#x1ED3;ng) 
                                    span 100.000 &Dstrok;&#x1ED3;ng
                                p(style='margin-bottom: 24px;')
                                    | Ph&iacute; thanh to&aacute;n sau khi nh&#x1EAD;n ph&ograve;ng 
                                    span 900.000 &Dstrok;&#x1ED3;ng
                                .checkout__order__total
                                    | Thanh to&aacute;n 
                                    span 100.000 &Dstrok;&#x1ED3;ng
                                button.site-btn(type='submit' style='font-family: system-ui;') &Dstrok;&#x1EB6;T PH&Ograve;NG
    // Checkout Section End

block script