.container
    .row
        .col-lg-5.col-md-6.col-sm-6
            .footer__about
                .footer__about__logo
                    a(href='./index.html')
                        img(src='img/good_hotel.png' alt='')
                ul
                    li &Dstrok;&#x1ECB;a ch&#x1EC9;: 117 &dstrok;&#x1B0;&#x1EDD;ng 3/2, H&#x1B0;ng L&#x1EE3;i, Ninh Ki&#x1EC1;u, C&#x1EA7;n Th&#x1A1;
                    li &Dstrok;i&#x1EC7;n tho&#x1EA1;i: +84 86.990.5431
                    li Email: good-hotel@gmail.com
        .col-lg-3.col-md-6.col-sm-6.offset-lg-1(style='margin-left: 0px;')
            .footer__widget
                p.title LI&Ecirc;N K&#x1EBE;T H&#x1EEE;U &Iacute;CH
                ul
                    li
                        a(href='#') V&#x1EC1; ch&uacute;ng t&ocirc;i
                    li
                        a(href='#') Ch&iacute;nh s&aacute;ch b&#x1EA3;o m&#x1EAD;t
                    li
                        a(href='#') D&#x1ECB;ch v&#x1EE5; c&#x1EE7;a ch&uacute;ng t&ocirc;i
                    li
                        a(href='#') Li&ecirc;n h&#x1EC7;
        .col-lg-4.col-md-12
            .footer__widget
                p.title LU&#x1EAC;N V&Abreve;N NG&Agrave;NH K&#x1EF8; THU&#x1EAC;T PH&#x1EA6;N M&#x1EC0;M
                p
                    | Gi&aacute;o vi&ecirc;n h&#x1B0;&#x1EDB;ng d&#x1EAB;n: 
                    b Hu&#x1EF3;nh Quang Nghi
                p
                    | Sinh vi&ecirc;n th&#x1EF1;c hi&#x1EC7;n: 
                    b Nguy&#x1EC5;n T&#x1EA5;n Th&#x1ECB;nh - B1704773
                .footer__widget__social
                    a(href='#')
                        i.fa.fa-facebook
                    a(href='#')
                        i.fa.fa-instagram
                    a(href='#')
                        i.fa.fa-twitter
                    a(href='#')
                        i.fa.fa-pinterest
    .row
        .col-lg-12
            .footer__copyright
                .footer__copyright__text
                    p
                        // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
                        | Copyright &copy;
                        script.
                            document.write(new Date().getFullYear());
                        |  B&#x1EA3;n quy&#x1EC1;n thu&#x1ED9;c v&#x1EC1; nh&oacute;m t&aacute;c gi&#x1EA3; tr&ecirc;n
                        // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
                .footer__copyright__payment
                    img(src='img/payment-item.png' alt='')