// Page Preloder
#preloder
    .loader
// Humberger Begin
.humberger__menu__overlay
.humberger__menu__wrapper
    .humberger__menu__logo
        a(href='#')
            img(src='/img/good_hotel.png' alt='')
    .humberger__menu__widget
        .header__top__right__auth
            a(href='#' data-toggle='modal' data-target='#exampleModal')
                i.fa.fa-user
                |  Login
    #mobile-menu-wrap
    .header__top__right__social
        a(href='#')
            i.fa.fa-facebook
        a(href='#')
            i.fa.fa-twitter
        a(href='#')
            i.fa.fa-linkedin
        a(href='#')
            i.fa.fa-pinterest-p
    .humberger__menu__contact
        ul
            li
                i.fa.fa-envelope
                |  good-hotel@gmail.com
            li Chất lượng thay lời nói
// Humberger End
// Header Section Begin
header.header
    .header__top
        .container
            .row
                .col-lg-6.col-md-6
                    .header__top__left
                        ul
                            li
                                i.fa.fa-envelope
                                |  good-hotel@gmail.com
                            li Chất lượng thay lời nói
                .col-lg-6.col-md-6
                    .header__top__right
                        .header__top__right__social
                            a(href='#')
                                i.fa.fa-facebook
                            a(href='#')
                                i.fa.fa-twitter
                            a(href='#')
                                i.fa.fa-linkedin
                            a(href='#')
                                i.fa.fa-pinterest-p
                        .header__top__right__auth.header__top__right__language
                            if account
                                a(style='display:inline;' href='/account')
                                    if account.avatar == ''
                                        img(src="/img/avatardefault.png" alt="Avatar" style="height: 24px;")
                                    else
                                        img(src="/uploads/"+account.avatar alt="Avatar" style="height: 24px; border-radius: 40px;")
                                    |  #{account.ho_ten}
                                a.ml-3(style='display:inline;' href='/logout' title='Đăng xuất')
                                    i.fa.fa-sign-out(style='font-size: 18px; margin-right: 0px;' aria-hidden="true")
                            else 
                                a(href='#' data-toggle='modal' data-target='#exampleModal')
                                    img(src="/img/avatardefault.png" alt="Avatar" style="height: 24px;")
                                    |  Login
    .container
        .row
            .col-lg-2
                .header__logo
                    a(href='/')
                        img(src='/img/good_hotel.png' style='height: 85px;' alt='')
            .col-lg-10(style='padding-top: 30px;')
                .hero__search
                    .hero__search__form
                        form(action='/')
                            input(type='text' name='key' placeholder='Nhập tên hoặc địa chỉ khách sạn')
                            button.site-btn(type='submit') TÌM
                    .hero__search__phone
                        div
                            a.shopping-cart(href='/basket')
                                i.fa.fa-shopping-cart(aria-hidden='true')
                                    span.amount#amountInBasketHeader #{basketTotal.amount}
                            span(id='basketPriceHeader' style='font-weight: bolder; font-size: 17px; color: #f25119') 
                                | #{basketTotal.price} VND

                        .hero__search__phone__icon
                            i.fa.fa-phone
                        .hero__search__phone__text 
                            h5 +84 86.990.5431
                            span Hỗ trợ 24/7
                            .humberger__open
                                i.fa.fa-bars
// Header Section End

// Modal
#exampleModal.modal.fade(tabindex='-1' aria-labelledby='exampleModalLabel' aria-hidden='true')
    .modal-dialog
        .modal-content(style='width:104%;')
            .modal-header
                h5#exampleModalLabel.modal-title Xin chào Quý khách
                button.close(type='button' data-dismiss='modal' aria-label='Close')
                    span(aria-hidden='true') &times;
            .modal-body
                ul.nav.nav-pills(style='padding: 7px 0px 21px 3%;')
                    li.nav-item
                        a.nav-link.active(href='#' onclick="CustomerLogin(this, 'loginTabPane')") Đăng nhập
                    li.nav-item
                        a.nav-link.ml-1(href='#' onclick="CustomerLogin(this, 'regTabPane')") Đăng ký
                    li.nav-item
                        a.nav-link.ml-1(href='#' onclick="CustomerLogin(this, 'forgetPasswordTabPane')") Quên mật khẩu
                    li.nav-item
                        a.nav-link.ml-1(id='savePassNavItem' href='#' onclick="CustomerLogin(this, 'saveNewPasswordTabPane')") Mật khẩu mới
                .tab-content
                    #loginTabPane.tab-pane.active
                        .form-group
                            .col-sm-12
                                label(for='uid') Tên đăng nhập
                                input#uid.form-control(placeholder='Nhập tên đăng nhập ...' type='text')
                                span.formError#uidLoginErr
                                    b.mr-1 !
                                    | Tên đăng nhập không được rỗng
                        .form-group
                            .col-sm-12
                                label(for='pass') Mật khẩu
                                input#pass.form-control(placeholder='Nhập mật khẩu ...' type='password')
                                span.formError#passLoginErr
                                    b.mr-1 !
                                    | Mật khẩu không được rỗng
                        .form-group(style='margin-top: 27px;')
                            .col-sm-10
                                button.btn.btn-primary.btn-radius.btn-brd.grd1(onclick='Login()')
                                    | Đăng nhập
                    
                    #regTabPane.tab-pane
                        form.form-horizontal(role='form')
                            .form-group
                                .col-sm-12
                                    label(for='hoTen') Họ tên
                                    input#hoTen.form-control(placeholder='Nhập tên ...' type='text')
                                    span.formError#nameRegErr
                                        b.mr-1 !
                                        | Họ tên không được rỗng
                            .form-group
                                .col-sm-12
                                    label(for='sdt') Số điện thoại
                                    input#sdt.form-control(placeholder='Nhập số điện thoại ...' type='text')
                                    span.formError#phoneRegErr
                                        b.mr-1 !
                                        | Số điện thoại không được rỗng
                                    span.formError#phoneInvalidRegErr
                                        b.mr-1 !
                                        | Số điện thoại không hợp lệ (Là dãy số 10-11 số)
                            .form-group
                                .col-sm-12
                                    label(for='email') Email
                                    input#email.form-control(placeholder='Nhập email ...' type='email')
                                    span.formError#emailRegErr
                                        b.mr-1 !
                                        | Email không được rỗng
                                    span.formError#emailInvalidRegErr
                                        b.mr-1 !
                                        | Email không hợp lệ
                            .form-group
                                .col-sm-12
                                    label(for='username') Tên đăng nhập
                                    input#username.form-control(placeholder='Nhập tên đăng nhập ...' type='text')
                                    span.formError#uidRegErr
                                        b.mr-1 !
                                        | Tên đăng nhập không được rỗng
                            .form-group
                                .col-sm-12
                                    label(for='pass1') Mật khẩu
                                    input#pass1.form-control(placeholder='Nhập mật khẩu ...' type='password')
                                    span.formError#passRegErr
                                        b.mr-1 !
                                        | Mật khẩu không được rỗng
                            .form-group
                                .col-sm-12
                                    label(for='pass2') Xác nhận mật khẩu
                                    input#pass2.form-control(placeholder='Nhập lại mật khẩu ...' type='password')
                                    span.formError#passAgainRegErr
                                        b.mr-1 !
                                        | Mật khẩu xác nhận phải trùng khớp với mật khẩu ở trên
                            .form-group(style='margin-top: 27px;')
                                .col-sm-12
                                    button.btn.btn-primary.btn-radius.btn-brd.grd1.mr-1(type='button' onclick='Register()')
                                        | Đăng ký
                                    button.btn.btn-light.btn-radius.btn-brd.grd1(type='reset')
                                        | Làm lại
                    
                    #forgetPasswordTabPane.tab-pane
                        .form-group
                            .col-sm-12
                                label(for='uidFP') Tên đăng nhập
                                input#uidFP.form-control(placeholder='Nhập tên đăng nhập ...' type='text')
                        .form-group
                            .col-sm-12
                                label(for='emailFP') Email
                                input#emailFP.form-control(placeholder='Nhập email ...' type='email')
                        .form-group(style='margin-top: 27px;')
                            .col-sm-10
                                button.btn.btn-primary.btn-radius.btn-brd.grd1(onclick='CheckAccountInfo()')
                                    | Xác nhận tài khoản

                    #saveNewPasswordTabPane.tab-pane
                        .form-group 
                            .col-sm-12(style='color: #969696; text-align: justify;')
                                i.fa.fa-exclamation-circle.mr-1(style='font-size: 20px;' aria-hidden="true")
                                | Quý khách cần xác nhận tài khoản tại mục Quên mật khẩu trước, sau đó hệ thống gửi chuỗi mã hóa đến email của quý khách, sau đó quý khách dùng chức năng này để đổi mật khẩu mới !!
                        .form-group
                            .col-sm-12
                                label(for='tokenFP') Chuỗi mã hóa
                                input#tokenFP.form-control(placeholder='Nhập chuỗi mã hóa trong email' autocomplete='off' type='text')
                        .form-group
                            .col-sm-12
                                label(for='pass1FP') Mật khẩu mới
                                input#pass1FP.form-control(placeholder='Nhập mật khẩu mới ...' type='password')
                        .form-group
                            .col-sm-12
                                label(for='pass2FP') Nhập lại mật khẩu mới
                                input#pass2FP.form-control(placeholder='Nhập lại mật khẩu mới ...' type='password')
                        .form-group(style='margin-top: 27px;')
                            .col-sm-10
                                button.btn.btn-primary.btn-radius.btn-brd.grd1(onclick='SaveNewPassword()')
                                    | Lưu mật khẩu
                    
            .modal-footer
                button#closeLoginModal.btn.btn-secondary(type='button' data-dismiss='modal') Đóng
// Modal End

// Loading
#loadingDiv
    .spinner-border.text-info.mr-2(role="status")
    span.loading-text Chờ tí ...