.permissList {
    height: 290px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.permissList .permiss {
    position: relative;
    background-color: rgb(246, 246, 246);
    height: 44px;
    margin: 7px auto;
    padding: 10px 8px 8px 30px;
    transition: 0.3s;
}

.permissList .permiss:hover {
    background-color: white;
    box-shadow: 1px 1px 7px 1px #a2a2a2;
}

.permissList .permiss .delPermiss {
    position: absolute;
    right: 24px;
    top: 8%;
    font-size: 23px;
}

.permissList .permiss .delPermiss:hover {
    color: red;
    font-size: 24px;
    cursor: pointer;
}

/* Not allow */
.notAllow .permiss {
    cursor: pointer;
}

.notAllow .active {
    background-color: white;
    border: 6px double orange;
    padding: 4px 8px 6px 24px;
}