extends layout/base.pug

block title
    title Hoa don

block header
    link(rel='stylesheet' href='/assets_manager/css/mycss/hoaDon.css')

block content
    // Header
    .header.bg-primary.pb-6
        .container-fluid
            .header-body
                .row.align-items-center.py-4
                    .col-lg-6.col-7
                        h6.h2.text-white.d-inline-block.mb-0 H&oacute;a &dstrok;&#x1A1;n
                        nav.d-none.d-md-inline-block.ml-md-4(aria-label='breadcrumb')
                            ol.breadcrumb.breadcrumb-links.breadcrumb-dark
                                li.breadcrumb-item
                                    a(href='#')
                                        i.fas.fa-home
                                li.breadcrumb-item.active(aria-current='page') H&oacute;a &dstrok;&#x1A1;n
                    
    // Page content
    .container-fluid.mt--6
        .row.justify-content-center
            .col
                .card
                    .card-header.bg-transparent
                        h3.mb-0 Hóa đơn đặt phòng
                        input(type="hidden", id="hotelID" value=''+ hotelID)
                    .card-body
                        .row.icon-examples
                            each bill in bills
                                .col-lg-11.col-md-6.btn-icon-clipboard.mx-auto.deal
                                    .row
                                        .col-md-6
                                            h3.title Thông tin phòng
                                            p.info Loại phòng: #{bill.ma_loai_phong.ten}
                                            p.info
                                                | Ngày đặt phòng: 
                                                em #{bill.ngay_dat_phong}
                                        .col-md-6
                                            h3.title Thông tin khách hàng
                                            p.info Mã tài khoản: #{bill.ma_tai_khoan._id}
                                            p.info Họ tên: #{bill.ma_tai_khoan.ho_ten}
                                    .mt-md-3
                                        a(href="./bill/"+ bill._id)
                                            button.btn.btn-success Xem chi tiết
                        
                        // Pagination
                        nav(aria-label='Page navigation example')
                            ul.pagination.justify-content-center.mt-md-3.mb-md-0
                                li.page-item.disabled
                                    a.page-link(href='#' tabindex='-1' aria-disabled='true')
                                        i.fa.fa-chevron-left(aria-hidden='true')
                                li.page-item
                                    a.page-link(href='#') 1
                                li.page-item
                                    a.page-link(href='#') 2
                                li.page-item.active
                                    a.page-link(href='#') 3
                                li.page-item
                                    a.page-link(href='#')
                                        i.fa.fa-chevron-right(aria-hidden='true')
        
        // Footer
        include layout/footer.pug
        
block script 