extends layout/base.pug

block title
    title Hoa don

block header
    link(rel='stylesheet' href='/assets_manager/css/mycss/hoaDon.css')

block content
    // Header
    .header.bg-primary.pb-6
        .container-fluid
            .header-body
                .row.align-items-center.py-4
                    .col-lg-6.col-7
                        h6.h2.text-white.d-inline-block.mb-0 H&oacute;a &dstrok;&#x1A1;n
                        nav.d-none.d-md-inline-block.ml-md-4(aria-label='breadcrumb')
                            ol.breadcrumb.breadcrumb-links.breadcrumb-dark
                                li.breadcrumb-item
                                    a(href='#')
                                        i.fas.fa-home
                                li.breadcrumb-item.active(aria-current='page') H&oacute;a &dstrok;&#x1A1;n
                    
    // Page content
    .container-fluid.mt--6
        .row.justify-content-center
            .col
                .card
                    .card-header.bg-transparent
                        h3.mb-0 H&oacute;a &dstrok;&#x1A1;n &dstrok;&#x1EB7;t ph&ograve;ng
                    .card-body
                        .row.icon-examples
                            .col-lg-11.col-md-6.btn-icon-clipboard.mx-auto.deal
                                .row
                                    .col-md-6
                                        h3.title Th&ocirc;ng tin ph&ograve;ng
                                        p.info Lo&#x1EA1;i ph&ograve;ng: VIP
                                        p.info
                                            | Ng&agrave;y &dstrok;&#x1EB7;t ph&ograve;ng: 
                                            em 2020-08-06 15:23:56
                                    .col-md-6
                                        h3.title Th&ocirc;ng tin kh&aacute;ch h&agrave;ng
                                        p.info M&atilde; t&agrave;i kho&#x1EA3;n: 2sd5d4c7s8ds4s5a
                                        p.info H&#x1ECD; t&ecirc;n: Nguy&#x1EC5;n T&#x1EA5;n Th&#x1ECB;nh
                                .mt-md-3
                                    button.btn.btn-success Xem chi ti&#x1EBF;t
                            .col-lg-11.col-md-6.btn-icon-clipboard.mx-auto.deal
                                .row
                                    .col-md-6
                                        h3.title Th&ocirc;ng tin ph&ograve;ng
                                        p.info Lo&#x1EA1;i ph&ograve;ng: VIP
                                        p.info
                                            | Ng&agrave;y &dstrok;&#x1EB7;t ph&ograve;ng: 
                                            em 2020-08-06 15:23:56
                                    .col-md-6
                                        h3.title Th&ocirc;ng tin kh&aacute;ch h&agrave;ng
                                        p.info M&atilde; t&agrave;i kho&#x1EA3;n: 2sd5d4c7s8ds4s5a
                                        p.info H&#x1ECD; t&ecirc;n: Nguy&#x1EC5;n T&#x1EA5;n Th&#x1ECB;nh
                                .mt-md-3
                                    button.btn.btn-success Xem chi ti&#x1EBF;t
                            .col-lg-11.col-md-6.btn-icon-clipboard.mx-auto.deal
                                .row
                                    .col-md-6
                                        h3.title Th&ocirc;ng tin ph&ograve;ng
                                        p.info Lo&#x1EA1;i ph&ograve;ng: VIP
                                        p.info
                                            | Ng&agrave;y &dstrok;&#x1EB7;t ph&ograve;ng: 
                                            em 2020-08-06 15:23:56
                                    .col-md-6
                                        h3.title Th&ocirc;ng tin kh&aacute;ch h&agrave;ng
                                        p.info M&atilde; t&agrave;i kho&#x1EA3;n: 2sd5d4c7s8ds4s5a
                                        p.info H&#x1ECD; t&ecirc;n: Nguy&#x1EC5;n T&#x1EA5;n Th&#x1ECB;nh
                                .mt-md-3
                                    button.btn.btn-success Xem chi ti&#x1EBF;t
                            .col-lg-11.col-md-6.btn-icon-clipboard.mx-auto.deal
                                .row
                                    .col-md-6
                                        h3.title Th&ocirc;ng tin ph&ograve;ng
                                        p.info Lo&#x1EA1;i ph&ograve;ng: VIP
                                        p.info
                                            | Ng&agrave;y &dstrok;&#x1EB7;t ph&ograve;ng: 
                                            em 2020-08-06 15:23:56
                                    .col-md-6
                                        h3.title Th&ocirc;ng tin kh&aacute;ch h&agrave;ng
                                        p.info M&atilde; t&agrave;i kho&#x1EA3;n: 2sd5d4c7s8ds4s5a
                                        p.info H&#x1ECD; t&ecirc;n: Nguy&#x1EC5;n T&#x1EA5;n Th&#x1ECB;nh
                                .mt-md-3
                                    button.btn.btn-success Xem chi ti&#x1EBF;t
                            .col-lg-11.col-md-6.btn-icon-clipboard.mx-auto.deal
                                .row
                                    .col-md-6
                                        h3.title Th&ocirc;ng tin ph&ograve;ng
                                        p.info Lo&#x1EA1;i ph&ograve;ng: VIP
                                        p.info
                                            | Ng&agrave;y &dstrok;&#x1EB7;t ph&ograve;ng: 
                                            em 2020-08-06 15:23:56
                                    .col-md-6
                                        h3.title Th&ocirc;ng tin kh&aacute;ch h&agrave;ng
                                        p.info M&atilde; t&agrave;i kho&#x1EA3;n: 2sd5d4c7s8ds4s5a
                                        p.info H&#x1ECD; t&ecirc;n: Nguy&#x1EC5;n T&#x1EA5;n Th&#x1ECB;nh
                                .mt-md-3
                                    button.btn.btn-success Xem chi ti&#x1EBF;t
                        
                        // Pagination
                        nav(aria-label='Page navigation example')
                            ul.pagination.justify-content-center.mt-md-3.mb-md-0
                                li.page-item.disabled
                                    a.page-link(href='#' tabindex='-1' aria-disabled='true')
                                        i.fa.fa-chevron-left(aria-hidden='true')
                                li.page-item
                                    a.page-link(href='#') 1
                                li.page-item
                                    a.page-link(href='#') 2
                                li.page-item.active
                                    a.page-link(href='#') 3
                                li.page-item
                                    a.page-link(href='#')
                                        i.fa.fa-chevron-right(aria-hidden='true')
        
        // Footer
        include layout/footer.pug
        
block script 