extends layout/base.pug

block title
    title Dat phong

block header

block content
    // Header
    .header.bg-primary.pb-6
        .container-fluid
            .header-body
                .row.align-items-center.py-4
                    .col-lg-6.col-7
                        h6.h2.text-white.d-inline-block.mb-0 &Dstrok;&#x1A1;n &dstrok;&#x1EB7;t ph&ograve;ng
                        nav.d-none.d-md-inline-block.ml-md-4(aria-label='breadcrumb')
                            ol.breadcrumb.breadcrumb-links.breadcrumb-dark
                                li.breadcrumb-item
                                    a(href='#')
                                        i.fas.fa-home
                                li.breadcrumb-item.active(aria-current='page') &Dstrok;&#x1A1;n &dstrok;&#x1EB7;t ph&ograve;ng
                    
    // Page content
    .container-fluid.mt--6
        .row.justify-content-center
            .col
                .card
                    .card-header.bg-transparent
                        h3.mb-0 &Dstrok;&#x1A1;n &dstrok;&#x1EB7;t ph&ograve;ng
                    .card-body
                        .row.icon-examples
                            .col-lg-11.col-md-6.btn-icon-clipboard.mx-auto
                                .row
                                    .col-md-6
                                        h4 Th&ocirc;ng tin lo&#x1EA1;i ph&ograve;ng
                                        p Lo&#x1EA1;i ph&ograve;ng: VIP
                                        p
                                            | Ng&agrave;y &dstrok;&#x1EB7;t ph&ograve;ng: 
                                            em 2020-08-06 15:23:56
                                        p
                                            | Ng&agrave;y h&#x1EBF;t h&#x1EA1;n: 
                                            em 2020-08-09
                                    .col-md-6
                                        h4 Th&ocirc;ng tin kh&aacute;ch h&agrave;ng
                                        p M&atilde; t&agrave;i kho&#x1EA3;n: 2sd5d4c7s8ds4s5a
                                        p H&#x1ECD; t&ecirc;n: Nguy&#x1EC5;n T&#x1EA5;n Th&#x1ECB;nh
                                        p S&#x1ED1; &dstrok;i&#x1EC7;n tho&#x1EA1;i: 0236587412
                                div
                                    button.btn.btn-success Xem chi ti&#x1EBF;t
                                    button.btn.btn-warning X&aacute;c nh&#x1EAD;n tr&#x1EA3; ph&ograve;ng
                            .col-lg-11.col-md-6.btn-icon-clipboard.mx-auto
                                .row
                                    .col-md-6
                                        h4 Th&ocirc;ng tin lo&#x1EA1;i ph&ograve;ng
                                        p Lo&#x1EA1;i ph&ograve;ng: VIP
                                        p
                                            | Ng&agrave;y &dstrok;&#x1EB7;t ph&ograve;ng: 
                                            em 2020-08-06 15:23:56
                                        p
                                            | Ng&agrave;y h&#x1EBF;t h&#x1EA1;n: 
                                            em 2020-08-09
                                    .col-md-6
                                        h4 Th&ocirc;ng tin kh&aacute;ch h&agrave;ng
                                        p M&atilde; t&agrave;i kho&#x1EA3;n: 2sd5d4c7s8ds4s5a
                                        p H&#x1ECD; t&ecirc;n: Nguy&#x1EC5;n T&#x1EA5;n Th&#x1ECB;nh
                                        p S&#x1ED1; &dstrok;i&#x1EC7;n tho&#x1EA1;i: 0236587412
                                div
                                    button.btn.btn-success Xem chi ti&#x1EBF;t
                                    button.btn.btn-warning X&aacute;c nh&#x1EAD;n tr&#x1EA3; ph&ograve;ng
                            .col-lg-11.col-md-6.btn-icon-clipboard.mx-auto
                                .row
                                    .col-md-6
                                        h4 Th&ocirc;ng tin lo&#x1EA1;i ph&ograve;ng
                                        p Lo&#x1EA1;i ph&ograve;ng: VIP
                                        p
                                            | Ng&agrave;y &dstrok;&#x1EB7;t ph&ograve;ng: 
                                            em 2020-08-06 15:23:56
                                        p
                                            | Ng&agrave;y h&#x1EBF;t h&#x1EA1;n: 
                                            em 2020-08-09
                                    .col-md-6
                                        h4 Th&ocirc;ng tin kh&aacute;ch h&agrave;ng
                                        p M&atilde; t&agrave;i kho&#x1EA3;n: 2sd5d4c7s8ds4s5a
                                        p H&#x1ECD; t&ecirc;n: Nguy&#x1EC5;n T&#x1EA5;n Th&#x1ECB;nh
                                        p S&#x1ED1; &dstrok;i&#x1EC7;n tho&#x1EA1;i: 0236587412
                                div
                                    button.btn.btn-success Xem chi ti&#x1EBF;t
                                    button.btn.btn-warning X&aacute;c nh&#x1EAD;n tr&#x1EA3; ph&ograve;ng
        
        // Footer
        include layout/footer.pug

block script 