extends layout/base.pug

block title
    title Binh luan

block header
    link(rel='stylesheet' href='/assets_manager/css/mycss/binhLuan.css')

block content
    // Header
    .header.bg-primary.pb-6
        .container-fluid
            .header-body
                .row.align-items-center.py-4
                    .col-lg-6.col-7
                        h6.h2.text-white.d-inline-block.mb-0 B&igrave;nh lu&#x1EAD;n
                        nav.d-none.d-md-inline-block.ml-md-4(aria-label='breadcrumb')
                            ol.breadcrumb.breadcrumb-links.breadcrumb-dark
                                li.breadcrumb-item
                                    a(href='#')
                                        i.fas.fa-home
                                li.breadcrumb-item.active(aria-current='page') B&igrave;nh lu&#x1EAD;n
                    
    // Page content
    .container-fluid.mt--6
        .row.justify-content-center
            .col
                .card
                    .card-header.bg-transparent
                        h3.mb-0 Danh sách bình luận
                        input(type="hidden", id="hotelID" value=''+ hotelID)
                    .card-body
                        .row.icon-examples
                            .col-lg-11.col-md-6.btn-icon-clipboard.mx-auto.comment
                                .row
                                    .col-6.title
                                        span.username Nguy&#x1EC5;n T&#x1EA5;n Th&#x1ECB;nh
                                        span.score 8.0
                                    .col-6.text-right
                                        span.time 2021-02-03 15:14:12
                                p.good
                                    span T&#x1ED1;t: 
                                    | When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrov
                                p.bad
                                    span G&oacute;p &yacute;: 
                                    | When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrov
                                .funcs
                                    button.btn.btn-warning
                                        i.fa.fa-eye(aria-hidden='true')
                                        | &Dstrok;&atilde; xem
                                    a(href="./replyComment/kdls4d5s") 
                                        button.btn.btn-light
                                            i.fa.fa-reply(aria-hidden='true')
                                            | Ph&#x1EA3;n h&#x1ED3;i
                            .col-lg-11.col-md-6.btn-icon-clipboard.mx-auto.comment
                                .row
                                    .col-6.title
                                        span.username Nguy&#x1EC5;n T&#x1EA5;n Th&#x1ECB;nh
                                        span.score 8.0
                                    .col-6.text-right
                                        span.time 2021-02-03 15:14:12
                                p.good
                                    span T&#x1ED1;t: 
                                    | When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrov
                                p.bad
                                    span G&oacute;p &yacute;: 
                                    | When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrov
                                .funcs
                                    button.btn.btn-warning
                                        i.fa.fa-eye(aria-hidden='true')
                                        | &Dstrok;&atilde; xem
                                    button.btn.btn-light
                                        i.fa.fa-reply(aria-hidden='true')
                                        | Ph&#x1EA3;n h&#x1ED3;i
                            .col-lg-11.col-md-6.btn-icon-clipboard.mx-auto.comment
                                .row
                                    .col-6.title
                                        span.username Nguy&#x1EC5;n T&#x1EA5;n Th&#x1ECB;nh
                                        span.score 8.0
                                    .col-6.text-right
                                        span.time 2021-02-03 15:14:12
                                p.good
                                    span T&#x1ED1;t: 
                                    | When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrov
                                p.bad
                                    span G&oacute;p &yacute;: 
                                    | When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrov
                                .funcs
                                    button.btn.btn-warning(hidden='true')
                                        i.fa.fa-eye(aria-hidden='true')
                                        | &Dstrok;&atilde; xem
                                    button.btn.btn-light
                                        i.fa.fa-reply(aria-hidden='true')
                                        | Ph&#x1EA3;n h&#x1ED3;i
        
        // Footer
        include layout/footer.pug
        
block script 