extends layout/base.pug

block title
    title Argon Dashboard - Free Dashboard for Bootstrap 4

block header
    link(rel='stylesheet' href='/assets_manager/css/mycss/tienNghiKhachSan.css')

block content
    // Header
    .header.bg-primary.pb-6
        .container-fluid
            .header-body
                .row.align-items-center.py-4
                    .col-lg-6.col-7
                        h6.h2.text-white.d-inline-block.mb-0 Ti&#x1EC7;n nghi
                        nav.d-none.d-md-inline-block.ml-md-4(aria-label='breadcrumb')
                            ol.breadcrumb.breadcrumb-links.breadcrumb-dark
                                li.breadcrumb-item
                                    a(href='#')
                                        i.fas.fa-home
                                li.breadcrumb-item.active(aria-current='page') Ti&#x1EC7;n nghi
                    .col-lg-6.col-5.text-right
                        a.btn.btn-sm.btn-neutral(href='#') New
                        a.btn.btn-sm.btn-neutral(href='#') Filters
    
    // Page content
    .container-fluid.mt--6
        .row.justify-content-center
            .col-12
                .card
                    .card-header.bg-transparent
                        h3.mb-0 Ti&#x1EC7;n nghi kh&aacute;ch s&#x1EA1;n
                    .card-body
                        .row.icon-examples
                            .col-lg-3.col-md-6
                                button.btn-icon-clipboard.convenient(type='button')
                                    div
                                        i.ni.ni-active-40
                                        span Wifi
                                        span.deleteBtn
                                            i.fa.fa-trash(aria-hidden='true')
                            .col-lg-3.col-md-6
                                button.btn-icon-clipboard.convenient(type='button')
                                    div
                                        i.ni.ni-active-40
                                        span Wifi
                                        span.deleteBtn
                                            i.fa.fa-trash(aria-hidden='true')
                            .col-lg-3.col-md-6
                                button.btn-icon-clipboard.convenient(type='button')
                                    div
                                        i.ni.ni-active-40
                                        span Wifi
                                        span.deleteBtn
                                            i.fa.fa-trash(aria-hidden='true')
                            .col-lg-3.col-md-6
                                button.btn-icon-clipboard.convenient(type='button')
                                    div
                                        i.ni.ni-active-40
                                        span Wifi
                                        span.deleteBtn
                                            i.fa.fa-trash(aria-hidden='true')
                            .col-lg-3.col-md-6
                                button.btn-icon-clipboard.convenient(type='button')
                                    div
                                        i.ni.ni-active-40
                                        span Wifi
                                        span.deleteBtn
                                            i.fa.fa-trash(aria-hidden='true')
                            .col-lg-3.col-md-6
                                button.btn-icon-clipboard.convenient(type='button')
                                    div
                                        i.ni.ni-active-40
                                        span Wifi
                                        span.deleteBtn
                                            i.fa.fa-trash(aria-hidden='true')
                            .col-lg-3.col-md-6
                                button.btn-icon-clipboard.convenient(type='button')
                                    div
                                        i.ni.ni-active-40
                                        span Wifi
                                        span.deleteBtn
                                            i.fa.fa-trash(aria-hidden='true')
            .col-12
                .card
                    .card-header.bg-transparent
                        h3.mb-0 Th&ecirc;m ti&#x1EC7;n nghi cho kh&aacute;ch s&#x1EA1;n
                    .card-body
                        .row.icon-examples.addConvenientFrame
                            .col-lg-3.col-md-6
                                button.btn-icon-clipboard(type='button')
                                    div
                                        i.ni.ni-active-40
                                        span Wifi
                            .col-lg-3.col-md-6
                                button.btn-icon-clipboard.active(type='button')
                                    div
                                        i.ni.ni-active-40
                                        span Wifi
                            .col-lg-3.col-md-6
                                button.btn-icon-clipboard(type='button')
                                    div
                                        i.ni.ni-active-40
                                        span Wifi
                            .col-lg-3.col-md-6
                                button.btn-icon-clipboard(type='button')
                                    div
                                        i.ni.ni-active-40
                                        span Wifi
                            .col-lg-3.col-md-6
                                button.btn-icon-clipboard(type='button')
                                    div
                                        i.ni.ni-active-40
                                        span Wifi
                            .col-lg-3.col-md-6
                                button.btn-icon-clipboard(type='button')
                                    div
                                        i.ni.ni-active-40
                                        span Wifi
                            .col-lg-3.col-md-6
                                button.btn-icon-clipboard(type='button')
                                    div
                                        i.ni.ni-active-40
                                        span Wifi
                            .col-lg-3.col-md-6
                                button.btn-icon-clipboard(type='button')
                                    div
                                        i.ni.ni-active-40
                                        span Wifi
                            .col-lg-3.col-md-6
                                button.btn-icon-clipboard(type='button')
                                    div
                                        i.ni.ni-active-40
                                        span Wifi
                            .col-lg-3.col-md-6
                                button.btn-icon-clipboard(type='button')
                                    div
                                        i.ni.ni-active-40
                                        span Wifi
                        button.btn.btn-success.mt-3
                            i.fa.fa-plus(aria-hidden='true')
                            | &nbsp;Th&ecirc;m m&#x1EDB;i
        
        // Footer
        include layout/footer.pug

block script