.infoError {
    color: red;
    display: none;
}

.infoError b {
    font-size: 20px;
}

.images {
    width: 100%;
    height: 117px;
    overflow-x: scroll;
    overflow-y: hidden;
}

.images .containImages {
    background-color: white;
}

.images .containImages img {
    width: 100px;
    height: 100px;
    cursor: pointer;
    margin-right: 10px;
}

.images .containImages .active {
    border: 3px solid rgb(2, 255, 200);
}

#imageBox {
    display: none;
    position: relative;
    width: 100%;
    height: 350px;
    background-color: rgb(243, 243, 243);
    text-align: center;
    margin-top: 15px;
}

#imageBox img {
    max-width: 100%;
    height: 350px;
}

#imageBox .delBtn {
    position: absolute;
    top: 146px;
    right: 18px;
    font-size: 33px;
    cursor: pointer;
    color: rgb(192, 192, 192);
}

#imageBox .closeBtn {
    position: absolute;
    top: 13px;
    right: 18px;
    font-size: 33px;
    cursor: pointer;
    color: rgb(192, 192, 192);
}

#imageBox .fullScreenBtn {
    position: absolute;
    top: 289px;
    right: 18px;
    font-size: 33px;
    cursor: pointer;
    color: rgb(192, 192, 192);
}

#imageBox .delBtn:hover, #imageBox .closeBtn:hover, #imageBox .fullScreenBtn:hover {
    color: rgb(75, 75, 75);
}

/* Custom Select Address */
.select-address {
    position: relative;
}
  
.select-address .selectBtn {
    width: 250px;
    background-color: white;
    color: #292929;
}

.select-address .optionList {
    position: absolute;
    top: 43px;
    width: 300px;
    background: white;
    max-height: 320px;
    overflow-y: scroll;
    overflow-x: hidden;
    display: none;
    z-index: 1;
}

.select-address .optionList .option {
    border-radius: 4px;
    padding: 4px 5px;
    margin: 4px auto;
    background-color: #efefff;
    color: black;
}

.select-address .optionList .option:hover {
    background-color: rgb(206, 244, 255);
    cursor: pointer;
}

.select-address .optionList .active {
    background-color: rgb(168, 234, 255);
}