.customer-reply .title {
    font-weight: bold;
    font-size: 16px;
    margin-right: 3px;
}

.customer-reply .score {
    background-color: greenyellow;
    padding: 4px 15px;
    border-radius: 38px;
    margin-left: 4px;
    color: #3d3d3d;
    font-weight: bold;
}

.customer-reply .good, .bad {
    text-align: justify;
}

.customer-reply .good span {
    margin-left: 0px;
    font-size: 18px;
    font-weight: bold;
    color: #7dcf00;
    margin-right: 3px;
}

.customer-reply .bad span {
    margin-left: 0px;
    font-size: 18px;
    font-weight: bold;
    color: #ff0000;
    margin-right: 3px;
}

.update-icon {
    color: white;
    margin-right: 5px;
    font-size: 18px;
}