.convenient {
    position: relative;
}

.convenient .convenientName {
    white-space: normal;
}

.convenient .deleteBtn {
    position: absolute;
    top: 4px;
    right: 9px;
}

.convenient .deleteBtn i{
    font-size: 18px;
    color: #c7c7c7;
}

.convenient .deleteBtn i:hover {
    color: #bb1111;
    font-size: 21px;
}

.addConvenientFrame {
    height: 264px; 
    overflow-y: scroll; 
    overflow-x: hidden;    
}

.addConvenientFrame .active {
    border: 6px double orange;
    padding: 18px 18px;
    background-color: white;
    transition: 0.3s;
}

button:focus {
    outline: 0px;
}